<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin-top: 20px;">
    <div *ngIf="empresa">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ empresa.nombre_empresa }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección:</strong> {{ empresa.direccion_empresa }}</p>
          <p><strong>Teléfono:</strong> {{ empresa.telefono_empresa }}</p>
          <p><strong>Email:</strong> {{ empresa.correo_empresa }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <!-- Inserción de Google Maps -->
  <div style="margin-top: 20px; text-align: center;">
    <h3 style="text-align: center;">Ubicación</h3>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4374.174251935783!2d-78.12145578907416!3d0.34584559964931105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2a3cc903586ad9%3A0xa5f77e2885376acd!2sHotel%20Miraflores!5e1!3m2!1ses-419!2sec!4v1741035541221!5m2!1ses-419!2sec"
        width="600"
        height="450"
        style="border: 0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <!-- Inserción del logo del hotel -->
  <div style="margin-top: 20px; text-align: center;">
    <img src="assets/imgs/logo hotel.jpg" alt="Hotel Logo" style="width: 200px; height: auto;">
  </div>
</ion-content>