/* Estilos generales */
:host {
    --ion-background-color: #f0f0f5;
    --ion-text-color: #333;
  }
  
  /* Contenedor principal */
  #container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilos para el texto */
  #container h3 {
    font-size: 20px;
    line-height: 26px;
    color: #ff9800; /* Cambiar el color a naranja */
    margin-top: 20px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #333;
    margin: 0;
  }
  
  /* Estilos para las imágenes */
  #container img {
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
  
  /* Estilos para ion-content */
  ion-content {
    --overflow: auto;
    display: block;
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
    padding: 16px;
  }
  
  /* Estilos para ion-card */
  ion-card {
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  ion-card-header {
    background-color: #ff9800;
    color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-card-content {
    color: #333;
  }
  
  /* Estilos para ion-title */
  ion-title {
    color: #ff9800; /* Cambia el color del título */
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    font-weight: bold; /* Haz que el título sea negrita */
    text-align: center; /* Centra el título */
  }
  
  /* Estilos para ion-button */
  ion-button {
    --background: #ff9800;
    --color: #fff;
  }
  
  /* Estilos específicos para el botón de cerrar */
  ion-button[slot="end"] {
    --color: #fff; /* Cambiar el color del texto a blanco */
  }