<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Habitaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin-top: 20px;">
    <h3 style="text-align: center;">Nuestras Habitaciones</h3>
    <div *ngFor="let habitacion of habitaciones">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ habitacion.estilo_habitacion }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <img [src]="'assets/imgs/habitaciones/' + habitacion.foto_habitacion" alt="{{ habitacion.titulo }}" style="width: 100%; height: auto;">
          <p>Precio: {{ habitacion.precio_noche }}</p>
          <p>Capacidad: {{ habitacion.capacidad_habitacion }}</p>
          <p>Descripción: {{ habitacion.descripcion_habitacion }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
