<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Logo del hotel -->
  <div style="text-align: center; margin-top: 20px;">
    <img src="assets/imgs/logo hotel.jpg" alt="Logo del Hotel" style="width: 150px; height: auto;">
  </div>

  <!-- Formulario de inicio de sesión dentro de una tarjeta -->
  <ion-card style="margin: 20px;">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Inicio de Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (submit)="loginAdmin($event)">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="correo_usuario" name="correo_usuario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="clave_usuario" name="clave_usuario" required></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" style="margin-top: 20px;">Iniciar Sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
