<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre_usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="usuario.apellido_usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario.usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="usuario.correo_usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="usuario.direccion_usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="usuario.telefono_usuario"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>