<ion-menu content-id="clientes-content">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/dashboard" routerDirection="root">
        <ion-icon slot="start" name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/reservas-admin" routerDirection="root">
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label>Reservas</ion-label>
      </ion-item>
      <ion-item routerLink="/clientes" routerDirection="root">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="clientes-content">
  <!-- Buscador -->
  <ion-searchbar 
    placeholder="Buscar clientes..." 
    [(ngModel)]="searchTerm" 
    (ionInput)="buscarUsuarios($event)">
  </ion-searchbar>

  <!-- Lista de usuarios -->
  <ion-list>
    <ion-item-sliding *ngFor="let usuario of usuariosFiltrados">
      <ion-item>
        <ion-label>
          <h2>{{ usuario.nombre_usuario }} {{ usuario.apellido_usuario }}</h2>
          <p>Correo: {{ usuario.correo_usuario }}</p>
          <p>Teléfono: {{ usuario.telefono_usuario }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="editarUsuario(usuario)">
          Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminarUsuario(usuario.id_usuario)">
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
