<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Hotel Miraflores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="overflow-y: auto;">
  <div style="text-align: center; margin-top: 20px;">
    <img src="assets/imgs/logo hotel.jpg" alt="Hotel Logo" style="width: 100px; height: auto;">
    <h2>Bienvenidos</h2>
    <p style="margin: 0 auto; max-width: 90%; text-align: center;">
      Bienvenidos al Hotel Miraflores, donde ofrecemos una experiencia única y confortable para todos nuestros huéspedes. Disfruta de nuestras instalaciones y servicios de primera clase.
    </p>
  </div>

  <div style="margin-top: 20px;">
    <h3 style="text-align: center;">Nuestras Habitaciones</h3>
    <div *ngFor="let habitacion of habitaciones">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ habitacion.estilo_habitacion }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img [src]="habitacion.imagen" alt="{{ habitacion.titulo }}" style="width: 100%; height: auto;">
          <p>Precio: {{ habitacion.precio_noche }}</p>
          <p>Capacidad: {{ habitacion.capacidad_habitacion }}</p>
          <p>Descripción: {{ habitacion.descripcion_habitacion }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

