<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateToLogin()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Iniciar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hotel Miraflores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" style="overflow-y: auto;">
  <div style="text-align: center; margin-top: 20px;">
    <img src="assets/imgs/logo hotel.jpg" alt="Hotel Logo" style="width: 100px; height: auto;">
    <h2>Bienvenidos</h2>
    <p style="margin: 0 auto; max-width: 90%; text-align: center;">
      Bienvenidos al Hotel Miraflores, donde ofrecemos una experiencia única y confortable para todos nuestros huéspedes. Disfruta de nuestras instalaciones y servicios de primera clase.
    </p>
  </div>

  <!-- Código de inserción del video de Facebook -->
  <div style="text-align: center; margin-top: 20px;">
    <div class="video-container">
      <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fhotel.miraflores.ibarra%2Fvideos%2F2383681128648235%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>
  </div>

  <div style="margin-top: 20px;">
    <h3 style="text-align: center;">Nuestras Habitaciones</h3>
    <div *ngFor="let habitacion of habitaciones">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ habitacion.estilo_habitacion }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img [src]="'assets/imgs/habitaciones/' + habitacion.foto_habitacion" alt="{{ habitacion.titulo }}" style="width: 100%; height: auto;">
          <p>Precio: {{ habitacion.precio_noche }}</p>
          <p>Capacidad: {{ habitacion.capacidad_habitacion }}</p>
          <p>Descripción: {{ habitacion.descripcion_habitacion }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

